{% block content %}


{% for msg in messages %}
<li id='msg-{{ msg.id }}' class="list-group-item msg-li">
    <a href="/users/{{ msg.user.id }}">
        <img src="{{ msg.user.image_url }}" alt="" class="timeline-image">
    </a>

    <div class="message-area">
        <a href="/users/{{ msg.user.id }}">@{{ msg.user.username }}</a>
        <span class="text-muted">{{ msg.timestamp.strftime('%d %B %Y') }}</span>
        <p>{{ msg.text }}</p>

        {% if g.user.id == msg.user_id %}
        <form class='trash-btn'>
            <button type="submit" class='btn btn-link'>
                <i data-msg='{{ msg.id }}' class="far fa-trash-alt"></i>
            </button>
        </form>
        {% endif %}

        <form>
            <button type="button" name="msg-info" value="{{ msg.id }}" class='btn like-btn btn-link'>
                <i id="like-{{ msg.id }}" data-msg='{{ msg.id }}' class="
            {% if msg.is_liked_by(g.user.id) %}
            fas
            {% else %}
            far
            {% endif %}
             fa-heart"></i>

            </button>
            <span id="{{ msg.id }}-num-likes">{{ msg.likes|length }}</span>
            <button type="button" name="comment-btn" data-toggle="modal" data-target="#commentModalLong" class='btn comment-btn btn-link'>
                <i id="comment-{{ msg.id }}" data-msg='{{ msg.id }}' class="far fa-comment"></i>
            </button>
        </form>
        <div>

            {% for like in msg.likes %}
            <a href="/users/{{ like.user.id }}">
                <img src="{{ like.user.image_url }}" alt="" class="timeline-image user-badge">
            </a>
            {% endfor %}
        </div>
    </div>

</li>
{% endfor %}


{% endblock %}