{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center">
  <div class="col-md-6">
    <ul class="list-group no-hover" id="messages">
      <li class="list-group-item">
        <a href="{{ url_for('users_show', user_id=message.user.id) }}">
          <img src="{{ message.user.image_url }}" alt="" class="timeline-image">
        </a>
        <div class="message-area">
          <div class="message-heading">
            <a href="/users/{{ message.user.id }}">@{{ message.user.username }}</a>
            {% if g.user %}
            {% if g.user.id == message.user.id %}
            <form method="POST" action="/messages/{{ message.id }}/delete">
              <button class="btn btn-outline-danger">Delete</button>
            </form>
            {% else %}
            <form method="POST" action="/users/follow/{{ message.user.id }}">
              <button class="btn btn-outline-primary btn-sm">Follow</button>
            </form>
            {% endif %}
            {% endif %}
          </div>
          <p class="single-message">{{ message.text }}</p>
          <span class="text-muted">{{ message.timestamp.strftime('%d %B %Y') }}</span>
          {% if g.user.id == message.user_id %}
          <form class='trash-btn'>
            <button type="submit" class='btn btn-link'>
              <i data-msg='{{ message.id }}' class="far fa-trash-alt"></i>
            </button>
          </form>
          {% endif %}

          <form>
            <button type="button" name="msg-info" value="{{ message.id }}" class='btn like-btn btn-link'>
              <i id="like-{{ message.id }}" data-msg='{{ message.id }}' class="
            {% if message.is_liked_by(g.user.id) %}
            fas
            {% else %}
            far
            {% endif %}
             fa-heart"></i>

            </button>
            <span id="{{ message.id }}-num-likes">{{ message.likes|length }}</span>
            <button type="button" name="comment-btn" data-toggle="modal" data-target="#commentModalLong"
              class='btn comment-btn btn-link'>
              <i id="comment-{{ message.id }}" data-msg='{{ message.id }}' class="far fa-comment"></i>
            </button>
            <span id="{{ message.id }}-num-comments">{{ message.comments|length }}</span>
          </form>
          <div>

            {% for like in message.likes %}
            <a href="/users/{{ like.user.id }}">
              <img src="{{ like.user.image_url }}" alt="" class="timeline-image user-badge">
            </a>
            {% endfor %}
          </div>
        </div>
      </li>
    </ul>
  </div>
  {% include '_commentModal.html' %}
</div>

{% endblock %}